body {
  background-color: rgba(19, 145, 82, 0.895);
}
h1 {
  color: rgb(18, 18, 20);
}
p {
  color: rgba(214, 228, 214, 0.799);
}
div {
  color:rgba(64, 4, 4, 0.818)
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-style: solid
}
th, td{
  background-color: #cdf4f4c7;
}
.nav_bar {
  background-color: #c70a0a;
  overflow: hidden;
}
.nav_bar a {
  float: left;
  color: #3a0321;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav_bar a:hover {
  background-color: #e7d5d5;
  color: rgb(125, 159, 126);
}
.nav_bar a.active {
  background-color: #06d086;
  color: rgb(150, 15, 15);
}
