body {
  background-color: rgba(64, 224, 208, 1);
}
h1 {
  color: rgb(18, 18, 20);
}
p {
  color: rgba(8, 31, 8, 0.93);
}
div {
  color:rgba(64, 4, 4, 0.818)
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-style: solid
}
th, td{
  background-color: #f6fcfc;
}

